@model Company.Commerce.Web.ViewModels.Shared.AddressViewModel

<div class="display-address-checkout text-center">
    <p>@Model.AddressLine1</p>
    <p>@Model.AddressLine2</p>
    <p>@Model.City, @Model.State</p>
    <p>@Model.PostalCode</p>
</div>


