@model Company.Commerce.Web.ViewModels.Account.EditPasswordViewModel


<div id="editemail-account">
    <div class="row">
        @using (Html.BeginForm("EditPassword", "Account", FormMethod.Post, new { @class = "form", role = "form" }))
        {
            @Html.AntiForgeryToken()
            <div class="col-md-6">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <i class="fa fa-edit text-warning"></i>Change Password
                    </div>
                    <div class="panel-body">
                        <div class="form-group">
                            @Html.LabelFor(m => m.CurrentPassword, new { @class = "control-label" })
                            @Html.TextBoxFor(m => m.CurrentPassword, new { @class = "form-control", placeholder = "Current Password", type = "Password" })
                            @Html.ValidationMessageFor(m => m.CurrentPassword)
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(m => m.NewPassword, new { @class = "control-label" })
                            @Html.TextBoxFor(m => m.NewPassword, new { @class = "form-control", placeholder = "New Password", type = "Password" })
                            @Html.ValidationMessageFor(m => m.NewPassword)
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(m => m.ConfirmPassword, new { @class = "control-label" })
                            @Html.TextBoxFor(m => m.ConfirmPassword, new { @class = "form-control", placeholder = "Confirm Password", type = "Password" })
                            @Html.ValidationMessageFor(m => m.ConfirmPassword)
                        </div>
                        <div class="form-group">
                            <button class="btn btn-danger pull-right">Save</button>
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>

</div>
